@charset "UTF-8";
.robar {
  background-size: cover;
  background-position: center;
  color: black;
  text-align: center;
}

.local {
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}

img {
  width: 300px;
}

.informacion {
  background-size: cover;
  background-position: center;
  color: black;
  text-align: center;
  place-items: center;
  gap: 1rem;
  display: grid;
  grid-template-areas: "imag1 text1" "imag2 text2";
  grid-template-columns: 20% 75%;
  grid-template-rows: 20% 75%;
}
.informacion .grid-imagen-4 {
  grid-area: imag1;
}
.informacion .grid-imagen-5 {
  grid-area: imag2;
}
.informacion .grid-texto-4 {
  grid-area: text1;
}
.informacion .grid-texto-5 {
  grid-area: text2;
}

.robar {
  background-size: cover;
  background-position: center;
  color: black;
  text-align: center;
}

.lol {
  background-size: cover;
  background-position: center;
  color: black;
  text-align: center;
}
.lol img {
  width: 300px;
}

header {
  background-color: #5e5d5d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
header img {
  width: 200px;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70%;
}
header nav {
  width: 25%;
}

footer {
  background-color: #5e5d5d;
}
footer p {
  text-align: center;
  height: 20px;
}

p {
  color: white;
}

.romper {
  background-size: cover;
  background-position: center;
  text-align: center;
  color: black;
}

.local {
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #292828;
}

.preguntanos {
  text-align: center;
  text-decoration: underline;
}

body {
  font-style: oblique;
  background-color: #292828;
}

main {
  background-color: #292828;
}
main p {
  text-align: center;
}
main img {
  width: 100%;
  max-width: 300px;
  background-color: #292828;
  height: auto;
}
main section p {
  text-align: center;
}
main div img {
  width: 100%;
  max-width: 100px;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.banner {
  background-image: url(../imagenes/fila-de-perros-diferente-tamaño-y-raza-sobre-gradiente-azul-amarillo-medio-social-horizontal-o-banner-web-con-espacio-copia-para-275050442.png);
  height: 400px;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #292828;
}

.presentacion {
  text-align: center;
  color: darkgoldenrod;
  text-decoration: underline;
}

.inicio-nuevo {
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #292828;
  place-items: center;
  display: grid;
  grid-template-areas: "texto1 texto" "imagen imagen1";
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  gap: 115px;
}
.inicio-nuevo img {
  width: 100%;
  max-width: 300px;
  height: auto;
}
.inicio-nuevo .grid-texto-1 {
  grid-area: texto;
}
.inicio-nuevo .grid-imagen-1 {
  grid-area: imagen;
}
.inicio-nuevo .grid-texto-2 {
  grid-area: texto1;
}
.inicio-nuevo .grid-imagen-2 {
  grid-area: imagen1;
}/*# sourceMappingURL=estilos.css.map */