@charset "UTF-8";
.robar {
  background-size: cover;
  background-position: center;
  color: black;
  text-align: center;
}

.local {
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}

.informacion {
  background-size: cover;
  background-position: center;
  color: black;
  text-align: center;
  display: grid;
  grid-template-areas: "imag1 text1" "imag2 text2";
  grid-template-columns: 50% 40%;
  grid-template-rows: 50% 50%;
  gap: 150px;
}
.informacion .grid-imagen-4 {
  grid-area: imag1;
}
.informacion .grid-imagen-5 {
  grid-area: imag2;
}
.informacion .grid-texto-4 {
  grid-area: text1;
}
.informacion .grid-texto-5 {
  grid-area: text2;
}

.robar {
  background-size: cover;
  background-position: center;
  color: black;
  text-align: center;
}

.lol {
  background-size: cover;
  background-position: center;
  color: black;
  text-align: center;
}

header {
  background-color: #5e5d5d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header img {
  width: 150px;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70%;
}
header nav {
  width: 25%;
}

footer {
  background-color: #5e5d5d;
}
footer p {
  text-align: center;
  height: 20px;
}
footer section h3 p {
  text-align: center;
}
footer section h1 img {
  width: 100px;
}
footer section h2 img {
  width: 125px;
}

p {
  color: white;
}

.romper {
  background-size: cover;
  background-position: center;
  text-align: center;
  color: black;
}

.local {
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #292828;
}

.preguntanos {
  text-align: center;
  text-decoration: underline;
}

body {
  font-style: oblique;
  background-color: #292828;
}

main {
  background-color: #292828;
}
main p {
  text-align: center;
}
main h9 p {
  text-align: left;
  text-shadow: #292828;
}
main section h4 p {
  text-align: center;
  text-decoration: underline;
}
main section h5 img {
  width: 150px;
}
main section h3 img {
  width: 150px;
}
main section h3 p {
  text-align: center;
}
main section h14 img {
  background-size: cover;
  background-position: center;
  text-align: center;
  color: black;
  width: 35%;
}
main section h14 img {
  background-size: cover;
  background-position: center;
  text-align: center;
  color: black;
  width: 35%;
}
main section img {
  width: 35%;
}
main section h11 {
  color: #292828;
}

.banner {
  background-image: url(../imagenes/fila-de-perros-diferente-tamaño-y-raza-sobre-gradiente-azul-amarillo-medio-social-horizontal-o-banner-web-con-espacio-copia-para-275050442.png);
  height: 400px;
  background-size: cover;
  background-position: center;
  color: #292828;
  text-align: center;
}

.presentacion {
  text-align: center;
  color: darkgoldenrod;
  text-decoration: underline;
}

.inicio-nuevo {
  background-size: cover;
  background-position: center;
  color: #292828;
  text-align: center;
  display: grid;
  grid-template-areas: "imagen imagen1" "texto1 texto";
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  gap: 5px;
}
.inicio-nuevo .grid-texto-1 {
  grid-area: texto;
}
.inicio-nuevo .grid-imagen-1 {
  grid-area: imagen;
}
.inicio-nuevo .grid-texto-2 {
  grid-area: texto1;
}
.inicio-nuevo .grid-imagen-2 {
  grid-area: imagen1;
}/*# sourceMappingURL=estilos.css.map */