@use "partials/index";
@use "partials/adopciones";
@use "partials/contacto";
@use "partials/nosotros";
@use "partials/rescates";
@use "partials/variables";

@mixin styles($size, $position, $text-align) {
    background-size: cover;
    background-position: center;
    text-align: center;
}


.romper {
    @include styles(cover, center, center);
    color:$black-color ;
}

.local {
    @include styles(cover, center, center);
    color:$white-color ;
}

.preguntanos {
    text-align: center;
    text-decoration: underline;
}


body{
    font-style: oblique;
    background-color: $primary-color;
}

main {
    p {
        text-align: center;
    }

    h9 p {
        text-align: left;
        text-shadow: $primary-color;
    }

    section {
        h4 p{
            text-align: center;
            text-decoration:underline;
        }

        h5 img{
            width: 400px;
        }

        h3 img {
            width: 250px;
        }

        h3 p {
            text-align: center;
        }

        h14 img {
            @include styles(cover, center, center);
            color: $black-color ;
            width: 35%;
        }

        h14 img {
            @include styles(cover, center, center);
            color:$black-color ;
            width: 35%;
        }

        img {
            width: 35%;
        }

        h11 {
            color: $white-color;
        }
    }
}

p {
    color: $white-color;
}