@use "partials/index";
@use "partials/adopciones";
@use "partials/contacto";
@use "partials/nosotros";
@use "partials/rescates";
@use "partials/headeryfooter";
@import "partials/variables";

p {
    color: white;
}

@mixin estilos($background-size, $background-position, $text-align) {
    background-size: $background-size;
    background-position: $background-position;
    text-align: $text-align;
}

.romper {
    @include estilos (cover, center, center);
    color: $black-color ;
}

.local {
    @include estilos (cover, center, center);
    color: $primary-color ;
}

.preguntanos {
    text-align: center;
    text-decoration: underline;
}


body{
    font-style: oblique;
    background-color: $primary-color;
}

main {
    background-color: $primary-color;
    p {
        text-align: center;
    }

    h9 p {
        text-align: left;
        text-shadow: $primary-color;
    }

    section {
        h4 p{
            text-align: center;
            text-decoration:underline;
        }

        h5 img{
            width: 150px;
        }

        h3 img {
            width: 150px;
        }

        h3 p {
            text-align: center;
        }

        h14 img {
            @include estilos (cover, center, center);
            color: $black-color ;
            width: 35%;
        }

        h14 img {
            @include estilos (cover, center, center);
            color:$black-color ;
            width: 35%;
        }

        img {
            width: 35%;
        }

        h11 {
            color: $primary-color;
        }
    }
}

.banner{
    background-image: url(../imagenes/fila-de-perros-diferente-tamaño-y-raza-sobre-gradiente-azul-amarillo-medio-social-horizontal-o-banner-web-con-espacio-copia-para-275050442.png) ;
    height: 400px;
    @include estilos (cover, center, center);
    color: #292828;
}

.presentacion{
    text-align: center;
    color: darkgoldenrod;
    text-decoration: underline;
}

.inicio-nuevo{
    @include estilos (cover, center, center);
    color: #292828;

    display: grid;
    grid-template-areas: 
    "imagen imagen1"
    "texto1 texto";

    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

    gap: 5px;

    .grid-texto-1{
        grid-area: texto;
    }  
    .grid-imagen-1{
        grid-area: imagen;
    }
    .grid-texto-2{
        grid-area: texto1;
    }
    .grid-imagen-2{
        grid-area: imagen1;
    }
}