.informacion {
    background-size: cover;
    background-position: center;
    color:black ;
    text-align: center;

    display: grid;
    grid-template-areas: 
    "imag1 text1"
    "imag2 text2";

    grid-template-columns: 50% 40%;
    grid-template-rows: 50% 50%;

    gap: 150px;
    .grid-imagen-4 {
        grid-area: imag1;
    }

    .grid-imagen-5 {
        grid-area: imag2;
    }

    .grid-texto-4 {
        grid-area: text1;
    }

    .grid-texto-5 {
        grid-area: text2;
    }
}