.container {
    .lol {
        img {
            width: 300px;
        }
        background-size: cover;
        background-position: center;
        color:black ;
        text-align: center;
    }
}