.robar {
    background-size: cover;
    background-position: center;
    color:black ;
    text-align: center;
}

.lol {
    background-size: cover;
    background-position: center;
    color:black ;
    text-align: center;
}